<div class="card-list" *ngFor="let card of cards">
    <div class="image">

        <img [src]="card.image" width="200" height="200" alt="Obrazek">
    </div>
    <div>
        <h2>
            <a [title]="'go to ' + card.name + ' details'" [routerLink]="['/cards', card.id]">
                {{card.name}}
            </a>
        </h2>
        <div>
            <p>cardLength: {{card.cardLength}} mm</p>
            <p>ram: {{card.ram}} GB</p>
            <p> coreClock: {{card.coreClock}} MHz</p>
        </div>
        <div>
            <p class="price">price: {{ card.price }} zł</p>
            <button type="button" (click)="addToCart(card)">Add to cart</button>
        </div>
    </div>


</div>