<div class="container" *ngIf="items.length > 0">
  <h2>Products:</h2>


  <div class="products-form">
    <div class="cart-it" *ngFor="let card of items">
      <div class="cart-item">
        <span>{{ card.name }}</span>
        <span>{{ card.amount }}</span>
        <span>{{ card.price * card.amount}} zł</span>
      </div>
      <div class="qty">
        <span class="minus bg-dark" (click)="decreaseValue(card)">-</span>
        <input type="number" class="count" name="qty" value={{card.amount}}>
        <span class="plus bg-dark" (click)="increaseValue(card)">+</span>
      </div>
      <button class="remove-button" (click)="removeProduct(card)">
        <img [src]="'assets/trash icon.jpg'" width="45" height="40" alt="Obrazek">
      </button>

    </div>
    <div class="clean-button">
      <button (click)="cleanCart()">clean</button>
    </div>
  </div>

  <div class="shipping-form">
    <h2>Delivery options:</h2>
    <div class="shipping-section">
      <div class="shipping-title">On-line pay:</div>



      <div class="shipping-item" *ngFor="let shipping of shippingCostsOnLine | async ">
      <table>
        <tr>
          <td class="name-column">{{shipping.type}}</td>
          <td class="days-column">In {{shipping.from}} to {{shipping.to}} days</td>
          <td>{{shipping.price}}</td>
        </tr>
      </table>
        <input class="radio-button" type="radio" name="shippingOption" [value]="shipping" [(ngModel)]="chosenShipping"
          (change)="choseShipping(shipping)">
      </div>
    </div>

    <div class="shipping-section">
      <div class="shipping-title">On-Delivery pay:</div>
      <div class="shipping-item" *ngFor="let shipping of shippingCostsOnDelivery | async">
      <table>
        <tr>
          <td class="name-column">{{shipping.type}}</td>
          <td class="days-column">In {{shipping.from}} to {{shipping.to}} days</td>
          <td>{{shipping.price}}</td>
        </tr>
      </table>
        <input class="radio-button" type="radio" name="shippingOption" [value]="shipping" [(ngModel)]="chosenShipping"
          (change)="choseShipping(shipping)">


      </div>
    </div>
  </div>

  <div class="price-div">
    <div>Total Price: {{totalPrice}} zł</div>
    <div> Delivery cost:
      <span *ngIf="chosenShipping">{{ chosenShipping.price }} zł</span>
    </div>
    <div> Final cost:
      <span> {{finalPrice}} zł</span>
    </div>


  </div>
    <a routerLink="/adress">
    <button class="next-button" *ngIf="chosenShipping">next</button>
    </a>

  </div>

<div class="container" id="empty-cart" *ngIf="items.length == 0">
    <h1>Cart is empty</h1>
  </div>